<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeoLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeoLauncher.Properties.Settings>
            <setting name="NewsUrl" serializeAs="String">
                <value>http://tribesrevengeance.com/patcher/news.php</value>
            </setting>
            <setting name="InfoUrl" serializeAs="String">
                <value>http://tribesrevengeance.com/patcher/info.xml</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value>http://tribesrevengeance.com</value>
            </setting>
            <setting name="ForumsLink" serializeAs="String">
                <value>http://forums.tribesrevengeance.com</value>
            </setting>
        </NeoLauncher.Properties.Settings>
    </userSettings>
</configuration>